name: Lighthouse CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  lhci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Lighthouse CI
        env:
          LHCI_GITHUB_APP_TOKEN: $SECRETS.LIGHTHOUSE_GITHUB_APP_TOKEN
        run: npx @lhci/cli@0.15.1 autorun --config=./lighthouserc.json
